#game-field{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 80px;
    text-align: center;
}
#game-field > div{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
}

#game-field > div > div{
 width: 100px;
 height: 100px;
 border: 1px solid black;
 box-sizing: border-box;
 cursor: pointer;
}
#score-bar{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}